---
title: include the fonts
---

/* lora-regular - latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url('{{site.url}}/css/fonts/lora-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lora Regular'), local('Lora-Regular'),
       url('{{site.url}}/css/fonts/lora-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('{{site.url}}/css/fonts/lora-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('{{site.url}}/css/fonts/lora-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('{{site.url}}/css/fonts/lora-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('{{site.url}}/css/fonts/lora-v12-latin-regular.svg#Lora') format('svg'); /* Legacy iOS */
}



/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('{{site.url}}/css/fonts/open-sans-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('{{site.url}}/css/fonts/open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('{{site.url}}/css/fonts/open-sans-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('{{site.url}}/css/fonts/open-sans-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('{{site.url}}/css/fonts/open-sans-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('{{site.url}}/css/fonts/open-sans-v15-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('{{site.url}}/css/fonts/open-sans-v15-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('{{site.url}}/css/fonts/open-sans-v15-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('{{site.url}}/css/fonts/open-sans-v15-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('{{site.url}}/css/fonts/open-sans-v15-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('{{site.url}}/css/fonts/open-sans-v15-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('{{site.url}}/css/fonts/open-sans-v15-latin-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

